MyService/bin/Debug/csharp-news.html
MyService/bin/Debug/MyService.pdb
MyService/bin/Debug/MyService.exe.config
MyService/bin/Debug/MyService.exe
MyService/bin/Debug/MyService.InstallLog
MyService/bin/Debug/InstallUtil.InstallLog
MyService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MyService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MyService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MyService/obj/Debug/MyService.pdb
MyService/obj/Debug/MyService.exe
MyService/obj/Debug/MyService.csprojAssemblyReference.cache
MyService/obj/Debug/MyService.csproj.GenerateResource.cache
MyService/obj/Debug/MyService.csproj.FileListAbsolute.txt
MyService/obj/Debug/MyService.csproj.CoreCompileInputs.cache
MyService/obj/Debug/MyService.Service1.resources
MyService/obj/Debug/MyService.ProjectInstaller.resources
MyService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyService/obj/Debug/DesignTimeResolveAssemblyReferences.cache
